<html>
<head>
<title>Home page</title>
</head>
<body>
</br></br>
<h1 style="text-align:center;font-family:verdanas;color:red;font-size:30px;"><u>Leave Management System</u></h1></br>
<h1 style="text-align:center;font-family:verdanas;color:green;font-size:20px;">Login</h2>
<form>
<h3 style="text-align:center;font-family:verdanas;color:red;font-size:20px;">User name: <input type="text" name="username" ></h3>
<h3 style="text-align:center;font-family:verdanas;color:red;font-size:20px;"> Password:  <input type="password" name="pwd" /></h3>
<h3 style="text-align:center;font-family:verdanas;color:red;font-size:15px;"><input type="checkbox" name="vehicle" value="Bike" /> Remember me next time. <br /></br> 
<input type="submit" value="login" /></h3>
</form>

</body>
</html>